@mixin brand-font-face {
  @include exports("brand-font-face") {
    @font-face {
      font-display: fallback;
      font-family: "Inter";
      font-style: normal;
      font-weight: normal;
      src: url('/core/fonts/Inter.var.woff2') format('woff2');
    }
  }
}

@mixin brand-font-faces {
  @include brand-font-face;
}

// TODO: remove legacy font-family mixin in next breaking release
@mixin brand-font-family-ciscoFont {
  @include brand-font-faces;
}

@mixin align-classes {
  .text-left {
    text-align: left !important;
  }

  .text-right {
    text-align: right !important;
  }

  .text-center {
    text-align: center !important;
  }

  .text-justify {
    text-align: justify !important;
  }
}

@mixin lead {
  font-size: $paragraph-font-size + rem-calc(3.5);
  line-height: 1.6;
}

@mixin subheader {
  color: $subheader-font-color;
  font-weight: $subheader-font-weight;
  line-height: $subheader-line-height;
  margin-bottom: $subheader-bottom-margin;
  margin-top: $subheader-top-margin;
}
