@font-face {
  font-family: "momentum-ui-icons";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/momentum-ui-icons.woff2?27aa89755dc2f86c019a4442ba367e9b") format("woff2"),
    url("../../fonts/momentum-ui-icons.woff?5362a53c7633b3998906e7a67cd384ec") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: normal;
  font-weight: 450;
  src: url("/fonts/Inter.var.woff2") format("woff2");
}
